%h1 Create an ISOTOPE User

= form_for :user, url: '/users' do |f|
  %section
    Username: #{f.text_field :username}
  %section
    Email: #{f.text_field :email}
  %section
    Password: #{f.password_field :password}
  %section
    Confirm Password: #{f.password_field :password_confirmation}
  %section
    = f.submit "Submit"
